* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body {
    background-color: #1c1c1c;
    font-family: "Inter", sans-serif;
}
.container {
    max-width: 550px;
    display: block;
    margin: 0 auto;
    background-color: #1F2937;
}
main {
 position: relative;
}
p {
    width: 20%;
    color: #D5D4D8;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 12px;
    font-weight: 500;
}
select {
    padding-left: 14px;
    padding-right: 31px;
    width: 56.7%;
    color: #D5D4D8;
    background-color: #1F2937;
}
#btn {
    padding: 11px 13px;
}
.main-hed {
    display: flex;
    justify-content: space-between;
    padding: 14px 23px 14px 24px;
}
.main-color {
    width: 61px;
    height: 42px;
}
.block-colors {
    display: flex;
}
.item {
    width: 20%;
    height: 414px;
}
.footer {
    display: flex;
    text-align: center;
}