html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter sans-serif;
    color: #2B283A;
}
.inner-block-title,
.inner-block-date,
.inner-block-content,
.map-text {
  margin: 0; /* Убираем браузерные margin */
}
.container {
    max-width: 550px;
    display: block;
    margin: 0 auto;
}
.header {
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.header-text {
  font-size: 14.4px;
  font-weight: 500;
  letter-spacing: -1.08px;
  color: #fff;
}
.middle-block {
  padding-top: 27px;
}
.inner {
  display: flex;
  justify-content: start;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inner-img {
  width: 22.7%;
  height: 168px;
  margin-right: 18px;
}
.inner-block {
  width: 59.2%;
  padding-top: 10px;
}
.inner-block-top {
  display: flex;
  justify-content: start;
  align-items: center;
}
.inner-block-top-map {
  display: flex;
  align-items: center;
}
.map-img {
  width: 7px;
  height: 9.55px;
  margin-right: 4px;
}
.map-text {
  font-size: 10.24px;
  font-weight: 400;
  letter-spacing: 17%;
  text-transform: uppercase;
}
.inner-block-top-link {
  font-size: 10.24px;
  font-weight: 400;
  color:#918E9B;
  margin-left: 12px;
}
.inner-block-title {
  font-size: 25px;
  font-weight: 700;
  color: #2B283A;
  margin-bottom: 17px;
}
.inner-block-date {
  font-size: 10.24px;
  font-weight: bold;
  margin-bottom: 9px;
}
.inner-block-content {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
}